.admin {
    width: 100%;
    height: 100%;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: #fcbf93;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
    }

    &__form {
        height: 100%;

        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;

        & > input::placeholder {
            color: #fefefe;
        }

        &--input {
            border-radius: 0.5rem;
            margin-block: 0.5rem;
            padding: 0.5rem;

            @include book-card-background;
            @include input-text;

            &:focus-visible {
                outline: 2px solid #c45c34;
            }
        }

        &--select {
            border-radius: 0.5rem;
            margin-block: 0.5rem;
            padding: 0.5rem;
            @include book-card-background;
            @include input-text;

            &:focus {
                outline: none;
            }

        }

        @media (max-width: 768px) {
            width: 90%;
        }
    }

    &__button {
        margin: 0.5rem auto;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        color: #fefefe;
        background-color: #fb8159;
        font-family: var(--font-jost);
        font-size: clamp(0.75rem, 0.75rem + 0.4vw, 1.25rem);
        transition: background-color 0.5s ease;

        &:hover {
            background-color: #c45c34;
        }

        &:focus-visible {
            outline: 2px solid #c45c34;
        }

        &:disabled {
            cursor: default;
            color: #fb8159;
            background-color: #f2e8df;
        }
    }

    &__selectors {
        display: flex;
        gap: 1rem;
    }
}
