.books {

    &__filters {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
        gap: 1rem;
        & > input,
        & > select {
            @include about-text-background;
            @include book-card-title;
            font-family: var(--font-jost);
            padding: 0.5rem;
            border-radius: 0.3rem;
            outline: none;

            &::placeholder {
                @include book-card-title;
            }

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                appearance: none;
                width: 1rem;
                height: 1rem;
                background: linear-gradient(
                        45deg,
                        transparent calc(50% - 1px),
                        #fefefe calc(50% - 1px),
                        #fefefe calc(50% + 1px),
                        transparent calc(50% + 1px)
                    ),
                    linear-gradient(
                        -45deg,
                        transparent calc(50% - 1px),
                        #fefefe calc(50% - 1px),
                        #fefefe calc(50% + 1px),
                        transparent calc(50% + 1px)
                    );
                background-size: 100% 100%;
                cursor: pointer;
            }
        }

        @media (max-width: 568px) {
            flex-direction: column;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        overflow: hidden;

        @media (max-width: 1300px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        @include book-card-background;

        @media (max-width: 768px) {
            max-width: 250px;
            margin: 0 auto;
        }
    }

    &__top {
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            border-radius: 0.5rem 0.5rem 0 0;
            object-fit: contain;
            object-position: bottom;
        }
    }

    &__bottom {
        height: 100%;
        padding: 0.5rem;
    }

    &__buy {
        height: 100%;
        padding: 0 0.5rem;
        border-radius: 0 0 0.5rem 0.5rem;
        background-color: #fcbf93;
        &__container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5rem 1rem;
            margin-block: 0.5rem;
        }
    }

    &__next {
        display: flex;
        justify-content: center;

        &__button {
            font-family: var(--font-jost);
            margin-block: 1rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            @include about-text-background;
            @include about-text;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                @include book-card-background;
            }
        }
    }
}
