.main {
    padding-block: 5rem;
    max-width: 1920px;
    margin: 0 auto;

    & > * {
        width: 70%;
        margin: 0 auto;

        @media (max-width: 992px) {
            width: 90%;
        }
    }

    & > *:first-child {
        width: 100%;
    }
}
