/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

:root {
  --index: calc(1vw + 1vh);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist-mono);
  overflow-y: scroll;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}

li {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 2em;
}

li::before {
  display: inline-block;
  content: counter(item) ". ";
  counter-increment: item;
  width: 2em;
  margin-left: -2em;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:target {
  scroll-margin-top: 160px;
}
@media (max-width: 992px) {
  :target {
    scroll-margin-top: 140px;
  }
}

h1 {
  font-family: var(--font-geist-mono);
}

.header {
  width: 100%;
  height: 100px;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(219, 219, 219) 100%);
}
.header__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 20px;
}
.header__container .link {
  color: #000;
}

.title {
  font-size: clamp(1.5rem, 1rem + 1vw, 5rem);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 3em;
  color: #357a8e;
}
@media (max-width: 1192px) {
  .title {
    line-height: 2em;
  }
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1rem, 1rem + 0.5vw, 2.5rem);
  font-weight: bold;
  line-height: 2em;
  color: #13353f;
}

.text {
  font-family: Raleway;
  font-size: clamp(1rem, 0.975rem + 0.13vw, 1.5rem);
  color: #2b1506;
  line-height: 1.5em;
}

.link {
  padding: 20px;
  margin-inline: 10px;
  font-size: clamp(1rem, 0.975rem + 0.13vw, 1.5rem);
  font-family: Raleway;
  font-weight: 500;
  color: #fff;
  transition: color 0.5s ease;
}
.link:hover {
  color: #1b32e0;
}
.link-header {
  color: #000;
}
.link-footer {
  padding-inline: 50px;
  color: #fff;
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .link-footer {
    padding-inline: 25px;
  }
}
@media (max-width: 768px) {
  .link-footer {
    justify-content: center;
    width: 100%;
  }
}
.link-mobile {
  font-size: 18px;
  line-height: 1.5em;
  color: #fff;
}

.mobileMenu {
  display: flex;
  align-items: center;
  justify-content: right;
}

.burger__label {
  display: none;
}

.burger__ul {
  display: none;
}

#burger-toggle {
  display: none;
}

@media (max-width: 1300px) {
  .burger__label {
    margin-right: 20px;
    position: fixed;
    display: block;
    height: 25px;
    width: 30px;
    top: 30px;
    right: 0;
    z-index: 10000;
  }
  .burger__label::after, .burger__label::before, .burger__label span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: all 0.3s ease;
  }
  .burger__label::before {
    content: "";
    top: 0;
  }
  .burger__label::after {
    content: "";
    bottom: 0;
  }
  .burger__label span {
    top: 11px;
  }
  #burger-toggle:checked ~ .burger__label::after {
    background-color: #fff;
    transform: rotate(45deg);
    bottom: 10px;
  }
  #burger-toggle:checked ~ .burger__label::before {
    background-color: #fff;
    transform: rotate(-45deg);
    top: 12px;
  }
  #burger-toggle:checked ~ .burger__label span {
    background-color: #fff;
    transform: rotate(-45deg);
    top: 12px;
  }
}
#mobile {
  display: none;
  height: 100%;
  background-color: rgb(153, 153, 153);
  z-index: 9999 !important;
  position: fixed;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  #mobile {
    min-width: 50%;
  }
}
@media (max-width: 440px) {
  #mobile {
    min-width: 100%;
  }
}

.open {
  display: block !important;
}

body.mobile {
  overflow: hidden;
}

.nav__links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__links-footer {
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}
@media (max-width: 768px) {
  .nav__links-footer {
    flex-direction: column;
    align-items: center;
  }
}
.nav__links-mobile {
  padding-top: 50px;
  flex-direction: column;
}

.nav__test {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav__test a {
  padding: 0 !important;
  margin: 0 !important;
}
.nav__test img {
  max-width: 20%;
  margin-right: 10px;
}
.nav__test-header {
  padding: 20px;
  margin-left: 20px;
}
.nav__test .link__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1300px) {
  .nav__test .link__container {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
.nav__test-footer {
  padding-block: 20px;
  width: 50%;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 1300px) {
  .nav__test-footer {
    width: 50%;
    flex-direction: column;
    align-items: start;
    gap: 25px;
  }
}
@media (max-width: 768px) {
  .nav__test-footer {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
.nav__test-mobile {
  text-align: center;
}/*# sourceMappingURL=style.css.map */