/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

:root {
  --index: calc(1vw + 1vh);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-lora);
  overflow-y: scroll;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}

li {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 2em;
}

li::before {
  display: inline-block;
  content: counter(item) ". ";
  counter-increment: item;
  width: 2em;
  margin-left: -2em;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:target {
  scroll-margin-top: 160px;
}
@media (max-width: 992px) {
  :target {
    scroll-margin-top: 140px;
  }
}

h1 {
  font-family: var(--font-geist-mono);
}

.header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 4rem;
  max-width: 1920px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #f2e8df;
}
.header__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 20px;
}

.title {
  font-size: clamp(1.5rem, 1rem + 1vw, 5rem);
  font-family: var(--font-prata);
  line-height: 3em;
  color: #fb8159;
}
@media (max-width: 1192px) {
  .title {
    line-height: 2em;
  }
}
.title--book {
  font-family: var(--font-jost);
  font-weight: 500;
  font-size: clamp(1rem, 0.6rem + 0.5vw, 1.5rem);
  line-height: 1.5em;
  text-align: center;
  color: #FEFEFE;
}

.subtitle {
  font-family: var(--font-prata);
  font-size: clamp(1rem, 1rem + 0.5vw, 2.5rem);
  line-height: 2em;
  color: #13353f;
}

.text {
  font-family: var(--font-jost);
  font-size: clamp(1rem, 0.75rem + 0.4vw, 1.25rem);
  color: #2b1506;
  line-height: 1.5em;
}
.text--about {
  color: #FEFEFE;
}
.text--book {
  font-size: clamp(0.75rem, 0.5rem + 0.1vw, 1.25rem);
  color: #F2E8DF;
}
.text--buy {
  font-size: clamp(0.75rem, 0.75rem + 0.1vw, 1.25rem);
  line-height: 1.5em;
  font-weight: bold;
  color: #FEFEFE;
}

.link {
  padding: 20px;
  margin-inline: 10px;
  font-size: clamp(1rem, 0.975rem + 0.13vw, 1.25rem);
  color: #fff;
  transition: color 0.5s ease;
}
.link:hover {
  color: #1b32e0;
}
.link--header {
  color: #fb8159;
  font-weight: 500;
}
.link--header:hover {
  color: #415111;
}
.link-footer {
  padding-inline: 50px;
  color: #fff;
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .link-footer {
    padding-inline: 25px;
  }
}
@media (max-width: 768px) {
  .link-footer {
    justify-content: center;
    width: 100%;
  }
}
.link-mobile {
  font-size: 18px;
  line-height: 1.5em;
  color: #fff;
}
.link--book {
  font-size: clamp(0.75rem, 0.5rem + 0.1vw, 1.25rem);
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: #F2E8DF;
}
.link--book:hover {
  color: #fcbf93;
}

.mobileMenu {
  display: flex;
  align-items: center;
  justify-content: right;
}

.burger__label {
  display: none;
}

.burger__ul {
  display: none;
}

#burger-toggle {
  display: none;
}

@media (max-width: 1300px) {
  .burger__label {
    margin-right: 20px;
    position: fixed;
    display: block;
    height: 25px;
    width: 30px;
    top: 30px;
    right: 0;
    z-index: 10000;
  }
  .burger__label::after, .burger__label::before, .burger__label span {
    position: absolute;
    width: 100%;
    height: 3px;
    transition: all 0.3s ease;
    background-color: #FB8159;
  }
  .burger__label::before {
    content: "";
    top: 0;
  }
  .burger__label::after {
    content: "";
    bottom: 0;
  }
  .burger__label span {
    top: 11px;
  }
  #burger-toggle:checked ~ .burger__label::after {
    transform: rotate(45deg);
    bottom: 10px;
    background-color: #FB8159;
  }
  #burger-toggle:checked ~ .burger__label::before {
    transform: rotate(-45deg);
    top: 12px;
    background-color: #FB8159;
  }
  #burger-toggle:checked ~ .burger__label span {
    transform: rotate(-45deg);
    top: 12px;
    background-color: #FB8159;
  }
}
#mobile {
  display: none;
  height: 100%;
  z-index: 9999 !important;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f2e8df;
}
@media (max-width: 768px) {
  #mobile {
    min-width: 50%;
  }
}
@media (max-width: 440px) {
  #mobile {
    min-width: 100%;
  }
}

.open {
  display: block !important;
}

body.mobile {
  overflow: hidden;
}

.nav__links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__links-footer {
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}
@media (max-width: 768px) {
  .nav__links-footer {
    flex-direction: column;
    align-items: center;
  }
}
.nav__links-mobile {
  padding-top: 50px;
  flex-direction: column;
}

.nav__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav__wrapper a {
  padding: 0 !important;
  margin: 0 !important;
}
.nav__wrapper img {
  max-width: 20%;
  margin-right: 10px;
}
.nav__wrapper-header {
  padding: 20px;
  margin-left: 20px;
}
.nav__wrapper .link__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1300px) {
  .nav__wrapper .link__container {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
.nav__wrapper-footer {
  padding-block: 20px;
  width: 50%;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 1300px) {
  .nav__wrapper-footer {
    width: 50%;
    flex-direction: column;
    align-items: start;
    gap: 25px;
  }
}
@media (max-width: 768px) {
  .nav__wrapper-footer {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
.nav__wrapper-mobile {
  text-align: center;
}

.main {
  padding-top: 5rem;
  max-width: 1920px;
  margin: 0 auto;
}

.banner {
  position: relative;
  width: 100%;
  height: clamp(15rem, 100vh - 5rem, 50rem);
  aspect-ratio: 16/9;
  overflow: hidden;
}
.banner__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}
@media (max-width: 1300px) {
  .banner__image {
    -o-object-position: 85%;
       object-position: 85%;
  }
}

.about {
  width: 70%;
  margin: 0 auto;
  padding-block: 1rem;
}
.about__container {
  width: 100%;
  display: flex;
  gap: 25px;
}
.about__text {
  flex: 1 1 50%;
  min-width: 0;
  background-color: #FCBF93;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}
.about__text .text {
  padding-block: 5px;
}
@media (max-width: 1700px) {
  .about__text .text {
    font-size: 1.2vw;
  }
}
@media (max-width: 992px) {
  .about__text .text {
    font-size: clamp(0.75rem, 0.75rem + 0.4vw, 1.25rem);
  }
}
.about__image {
  width: 100%;
  flex: 1 1 50%;
  min-width: 0;
}
.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  border-radius: 15px;
  box-shadow: 4px 4px 8px #999;
  cursor: pointer;
  transition: all 0.2s ease;
}
.about__image img:hover {
  transform: scale(1.02);
}

@media (max-width: 992px) {
  .about {
    width: 90%;
  }
  .about__container {
    flex-direction: column;
  }
  .about__text {
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .about__text {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .about__image {
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .about__image {
    width: 100%;
  }
}
.books {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .books {
    width: 90%;
  }
}
.books__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  overflow: hidden;
}
@media (max-width: 1700px) {
  .books__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1192px) {
  .books__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 568px) {
  .books__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.books__wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #FB8159;
}
@media (max-width: 768px) {
  .books__wrapper {
    max-width: 250px;
    margin: 0 auto;
  }
}
.books__top {
  height: 100%;
  width: 100%;
}
.books__top img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}
.books__bottom {
  height: 100%;
  padding: 0.5rem;
}
.books__buy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-block: 0.5rem;
}/*# sourceMappingURL=style.css.map */