/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

:root {
  --index: calc(1vw + 1vh);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-lora);
  overflow-y: scroll;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}

li {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 2em;
}

li::before {
  display: inline-block;
  content: counter(item) ". ";
  counter-increment: item;
  width: 2em;
  margin-left: -2em;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:target {
  scroll-margin-top: 160px;
}
@media (max-width: 992px) {
  :target {
    scroll-margin-top: 140px;
  }
}

h1 {
  font-family: var(--font-geist-mono);
}

.header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 4rem;
  max-width: 1920px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #f2e8df;
}
.header__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 20px;
}

.title {
  font-size: clamp(1.5rem, 1rem + 1vw, 5rem);
  font-family: var(--font-prata);
  line-height: 3em;
  color: #fb8159;
}
@media (max-width: 1192px) {
  .title {
    line-height: 2em;
  }
}
.title--book {
  font-family: var(--font-jost);
  font-weight: 500;
  font-size: clamp(0.75rem, 0.6rem + 0.5vw, 1.5rem);
  line-height: 1.5em;
  text-align: center;
  color: #fefefe;
}

.subtitle {
  font-family: var(--font-prata);
  font-size: clamp(1rem, 1rem + 0.5vw, 2.5rem);
  line-height: 2em;
}
.subtitle--admin {
  text-align: center;
}

.text {
  font-family: var(--font-jost);
  font-size: clamp(0.75rem, 0.75rem + 0.4vw, 1.25rem);
  line-height: 1.5em;
}
.text--about {
  color: #fefefe;
}
.text--book {
  font-size: clamp(0.5rem, 0.5rem + 0.3vw, 1.25rem);
  color: #f2e8df;
}
.text--buy {
  font-size: clamp(0.75rem, 0.5rem + 0.4vw, 1.25rem);
  line-height: 1.5em;
  font-weight: bold;
  color: #fefefe;
}
.text--first {
  font-family: inherit;
  color: #fff;
  font-size: clamp(1rem, 1rem + 0.5vw, 5rem);
}
.text--copy {
  text-align: center;
  font-size: clamp(0.75rem, 0.5rem + 0.5vw, 1rem);
  line-height: 2em;
  color: #fb8159;
  cursor: default;
  transition: color 0.5s ease;
}
.text--copy:hover {
  color: #c45c34;
}
.text--admin {
  color: #fefefe;
}

.link {
  padding: 1rem;
  margin-inline: 0.5rem;
  font-size: clamp(0.75rem, 0.9rem + 0.1vw, 1.25rem);
  color: #fff;
  transition: color 0.5s ease;
}
.link:hover {
  color: #fb8159;
}
.link--nav {
  color: #fb8159;
  font-weight: 500;
}
.link--nav:hover {
  color: #c45c34;
}
.link--nav:focus-visible {
  outline: 2px solid #c45c34;
}
@media (max-width: 768px) {
  .link--nav {
    padding: 0.5rem;
  }
}
.link-mobile {
  font-size: 18px;
  line-height: 1.5em;
  color: #fff;
}
.link--book {
  font-size: clamp(0.75rem, 0.5rem + 0.4vw, 1.25rem);
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: #fefefe;
}
.link--book:hover {
  color: #c45c34;
}
.link--accent {
  color: #fcbf93;
  margin: 0;
  padding: 0;
}
.link--read:hover {
  color: #c45c34;
}

.mobileMenu {
  display: flex;
  align-items: center;
  justify-content: right;
}

.burger__label {
  display: none;
}

.burger__ul {
  display: none;
}

#burger-toggle {
  display: none;
}

@media (max-width: 1300px) {
  .burger__label {
    margin-right: 20px;
    position: fixed;
    display: block;
    height: 25px;
    width: 30px;
    top: 30px;
    right: 0;
    z-index: 10000;
  }
  .burger__label::after, .burger__label::before, .burger__label span {
    position: absolute;
    width: 100%;
    height: 3px;
    transition: all 0.3s ease;
    background-color: #fb8159;
  }
  .burger__label::before {
    content: "";
    top: 0;
  }
  .burger__label::after {
    content: "";
    bottom: 0;
  }
  .burger__label span {
    top: 11px;
  }
  #burger-toggle:checked ~ .burger__label::after {
    transform: rotate(45deg);
    bottom: 10px;
    background-color: #fb8159;
  }
  #burger-toggle:checked ~ .burger__label::before {
    transform: rotate(-45deg);
    top: 12px;
    background-color: #fb8159;
  }
  #burger-toggle:checked ~ .burger__label span {
    transform: rotate(-45deg);
    top: 12px;
    background-color: #fb8159;
  }
}
#mobile {
  display: none;
  height: 100%;
  z-index: 9999 !important;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f2e8df;
}
@media (max-width: 768px) {
  #mobile {
    min-width: 50%;
  }
}
@media (max-width: 440px) {
  #mobile {
    min-width: 100%;
  }
}

.open {
  display: block !important;
}

body.mobile {
  overflow: hidden;
}

.nav__links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__links-mobile {
  padding-top: 50px;
  flex-direction: column;
}

.nav__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav__wrapper a {
  padding: 0 !important;
  margin: 0 !important;
}
.nav__wrapper img {
  max-width: 20%;
  margin-right: 10px;
}
.nav__wrapper-header {
  padding: 20px;
  margin-left: 20px;
}
.nav__wrapper .link__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1300px) {
  .nav__wrapper .link__container {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
.nav__wrapper-mobile {
  text-align: center;
}

.main {
  padding-block: 5rem;
  max-width: 1920px;
  margin: 0 auto;
}
.main > * {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .main > * {
    width: 90%;
  }
}
.main > *:first-child {
  width: 100%;
}

.banner {
  position: relative;
  width: 100%;
  height: clamp(15rem, 100vh - 5rem, 50rem);
  aspect-ratio: 16/9;
  overflow: hidden;
}
.banner__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}
@media (max-width: 1300px) {
  .banner__image {
    -o-object-position: 85%;
       object-position: 85%;
  }
}

.about {
  padding-block: 1rem;
}
.about__container {
  width: 100%;
  display: flex;
  gap: 25px;
}
.about__text {
  flex: 1 1 50%;
  min-width: 0;
  background-color: #fcbf93;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
}
.about__text .text {
  padding-block: 0.25rem;
}
@media (max-width: 1700px) {
  .about__text .text {
    font-size: clamp(0.5rem, 1.2vw, 1.25rem);
  }
}
@media (max-width: 992px) {
  .about__text .text {
    font-size: clamp(0.75rem, 0.75rem + 0.4vw, 1.25rem);
  }
}
.about__image {
  width: 100%;
  flex: 1 1 50%;
  min-width: 0;
}
.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  border-radius: 15px;
  box-shadow: 4px 4px 8px #999;
  cursor: pointer;
  transition: all 0.2s ease;
}
.about__image img:hover {
  transform: scale(1.02);
}

@media (max-width: 992px) {
  .about__container {
    flex-direction: column;
  }
  .about__text {
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .about__text {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .about__image {
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .about__image {
    width: 100%;
  }
}
.books__filters {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}
.books__filters > input, .books__filters > select {
  background-color: #fcbf93;
  color: #fefefe;
  font-family: var(--font-jost);
  padding: 0.5rem;
  border-radius: 0.3rem;
  outline: none;
}
.books__filters > input::-moz-placeholder, .books__filters > select::-moz-placeholder {
  color: #fefefe;
}
.books__filters > input::placeholder, .books__filters > select::placeholder {
  color: #fefefe;
}
.books__filters > input::-webkit-search-cancel-button, .books__filters > select::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: linear-gradient(45deg, transparent calc(50% - 1px), #fefefe calc(50% - 1px), #fefefe calc(50% + 1px), transparent calc(50% + 1px)), linear-gradient(-45deg, transparent calc(50% - 1px), #fefefe calc(50% - 1px), #fefefe calc(50% + 1px), transparent calc(50% + 1px));
  background-size: 100% 100%;
  cursor: pointer;
}
@media (max-width: 568px) {
  .books__filters {
    flex-direction: column;
  }
}
.books__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  overflow: hidden;
}
@media (max-width: 1300px) {
  .books__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .books__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.books__wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fb8159;
}
@media (max-width: 768px) {
  .books__wrapper {
    max-width: 250px;
    margin: 0 auto;
  }
}
.books__wrapper--loader {
  width: 100%;
  height: 400px;
  background-color: #e5e7eb;
  border-radius: 0.5rem;
}
.books__top {
  height: 100%;
  width: 100%;
}
.books__top img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}
.books__bottom {
  height: 100%;
  padding: 0.5rem;
}
.books__buy {
  height: 100%;
  padding: 0 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #fcbf93;
}
.books__buy__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  margin-block: 0.5rem;
}
.books__next {
  display: flex;
  justify-content: center;
}
.books__next__button {
  font-family: var(--font-jost);
  margin-block: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fcbf93;
  color: #fefefe;
  transition: background-color 0.2s ease-in-out;
}
.books__next__button:hover {
  background-color: #fb8159;
}

.read {
  height: 100%;
}
.read__container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: #fb8159;
}
.read__container .text {
  padding-block: 0.25rem;
}

.footer {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f2e8df;
}
.footer__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer__container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .footer__nav {
    flex-direction: column;
  }
}
.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .footer__contacts {
    flex-direction: column;
  }
}

.cabinet {
  width: 100%;
  height: 100vh;
  min-height: 800px;
}
.cabinet__container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.cabinet__container--auth {
  width: 70%;
}
.cabinet__container > form {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
.cabinet__container > form > input::-moz-placeholder {
  color: #c45c34;
}
.cabinet__container > form > input::placeholder {
  color: #c45c34;
}
@media (max-width: 992px) {
  .cabinet__container {
    width: 70%;
  }
}
@media (max-width: 568px) {
  .cabinet__container {
    width: 100%;
  }
}
.cabinet__register {
  width: 70%;
  height: 100%;
  padding: 1rem;
  background-color: #fb8159;
}
.cabinet__register--input {
  border-radius: 0.5rem;
  margin-block: 0.5rem;
  padding: 0.5rem;
  background-color: #fcbf93;
  color: #fefefe;
  font-family: var(--font-jost);
  font-size: clamp(0.75rem, 0.75rem + 0.4vw, 1.25rem);
}
.cabinet__register--input:focus-visible {
  outline: 2px solid #c45c34;
}
@media (max-width: 768px) {
  .cabinet__register {
    width: 90%;
  }
}
.cabinet__legend {
  font-size: clamp(1rem, 1rem + 0.5vw, 2.5rem);
  text-align: center;
  color: #fefefe;
  font-family: var(--font-prata);
}
.cabinet__error {
  color: #f2e8df;
  font-family: var(--font-jost);
  font-size: clamp(0.75rem, 0.75rem + 0.1vw, 1.25rem);
  height: 1.2em;
  transition: opacity 0.3s ease;
}
.cabinet__error[aria-hidden=false] {
  opacity: 1;
}
.cabinet__error[aria-hidden=true] {
  opacity: 0;
}
.cabinet__error--white {
  color: #fefefe;
}
.cabinet__button {
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #fefefe;
  background-color: #fcbf93;
  font-family: var(--font-jost);
  font-size: clamp(0.75rem, 0.75rem + 0.4vw, 1.25rem);
  transition: color, background-color 0.5s ease;
}
.cabinet__button:hover {
  color: #fcbf93;
  background-color: #c45c34;
}
.cabinet__button:focus-visible {
  outline: 2px solid #c45c34;
}
.cabinet__checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  color: #f2e8df;
  font-size: clamp(0.75rem, 0.75rem + 0.2vw, 1.25rem);
  gap: 1rem;
  padding-block: 0.5rem;
}
.cabinet__checkbox > input[type=checkbox] {
  margin: 0;
  width: 1rem;
  height: 1rem;
}
.cabinet__swap {
  font-size: clamp(0.75rem, 0.75rem + 0.2vw, 1.25rem);
  color: #f2e8df;
}
.cabinet__swap > span {
  cursor: pointer;
  color: #fefefe;
  transition: color 0.3s ease-in-out;
}
.cabinet__swap > span:hover {
  color: #c45c34;
}

.admin {
  width: 100%;
  height: 100%;
}
.admin__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fcbf93;
}
.admin__wrapper {
  width: 100%;
  height: 100%;
}
.admin__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
.admin__form > input::-moz-placeholder {
  color: #fefefe;
}
.admin__form > input::placeholder {
  color: #fefefe;
}
.admin__form--input {
  border-radius: 0.5rem;
  margin-block: 0.5rem;
  padding: 0.5rem;
  background-color: #fb8159;
  color: #fefefe;
  font-family: var(--font-jost);
  font-size: clamp(0.75rem, 0.75rem + 0.4vw, 1.25rem);
}
.admin__form--input:focus-visible {
  outline: 2px solid #c45c34;
}
.admin__form--select {
  border-radius: 0.5rem;
  margin-block: 0.5rem;
  padding: 0.5rem;
  background-color: #fb8159;
  color: #fefefe;
  font-family: var(--font-jost);
  font-size: clamp(0.75rem, 0.75rem + 0.4vw, 1.25rem);
}
.admin__form--select:focus {
  outline: none;
}
@media (max-width: 768px) {
  .admin__form {
    width: 90%;
  }
}
.admin__button {
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #fefefe;
  background-color: #fb8159;
  font-family: var(--font-jost);
  font-size: clamp(0.75rem, 0.75rem + 0.4vw, 1.25rem);
  transition: background-color 0.5s ease;
}
.admin__button:hover {
  background-color: #c45c34;
}
.admin__button:focus-visible {
  outline: 2px solid #c45c34;
}
.admin__button:disabled {
  cursor: default;
  color: #fb8159;
  background-color: #f2e8df;
}
.admin__selectors {
  display: flex;
  gap: 1rem;
}/*# sourceMappingURL=style.css.map */